@import '../../../../styles/mixins';

$shadow: 0 10px 10px 0 rgb(0 0 0 / 15%), 0 6px 6px 0 rgb(0 0 0 / 15%),
0 3px 3px 0 rgb(0 0 0 / 15%);


.collections {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  margin-top: 3.5rem;
  > a {
    @apply  animate-fade;
    margin-right: 2rem;
  }

  > a:nth-child(3n) {
    margin-right: 0;
  }
}

.collection {
  position: relative;
  display: flex;
  align-items: flex-end;
  transition-property: transform;
  transition-timing-function: ease-in-out;
  transition-duration: 200ms;

  height: 16rem;
  width: 32%;
  margin-bottom: 4rem;

  @include fade-bg-gradient(0deg);

  &::before {
    border-radius: 0.8rem;
  }

  img {
    border-radius: 0.8rem;
    object-position: center;
    object-fit: cover;
    pointer-events: none;
    box-shadow: $shadow;
  }

  > span {
    z-index: 131;
  }

  .behind {
    overflow: hidden;
    z-index: 0;
    transition-property: transform;
    transition-timing-function: ease-in-out;
    transition-duration: 200ms;

    &.second {
      position: absolute;
      top: -0.5rem;
      left: 1rem;
      right: 1rem;
      bottom: 1rem;
    }

    &.third {
      position: absolute;
      top: -1rem;
      left: 2rem;
      right: 2rem;
      bottom: 2rem;
    }
  }

  &:hover {
    @apply -translate-y-1;

    .behind {
      &.second {
        transform: translateY(0.5px);
      }

      &.third {
        transform: translateY(1px);
      }
    }
  }

  .content {
    position: relative;
    z-index: 2;
    text-align: center;
    margin: 0.75rem;
    width: 100%;

    .title {
      font-size: 1.5rem;
      font-weight: 600;
      margin-bottom: 0.25rem;
      color: rgb(255 255 255 / 1);
      text-shadow: 1px 1px rgba(0, 0, 0, 0.4);
    }
  }
}