@import '../../../../../styles/mixins';
@import '../../../../../styles/class';

.favorites {
	display: flex;
	flex-wrap: wrap;
	margin-top: 3rem;
}

.containerLoader {
	width: 100%;
	display: flex;

	.skeletonLoader {
		position: relative;
		margin-bottom: 2rem;
		height: 11rem;
		width: 31%;

		&:nth-child(1),
		&:nth-child(3) {
			margin-right: 2rem;
		}
	}
}

.itemWrapper {
	position: relative;
	margin-bottom: 2rem;
	height: 16rem;
	margin-right: 2rem;
	@extend %tTransform;
	@extend %animateFade;
	width: 31%;

	&:nth-child(3n) {
		margin-right: 0;
	}

	.item {
		@extend %boxShadow;
		position: relative;
		z-index: 1;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: flex-end;
		border-radius: 0.8rem;
		overflow: hidden;

		@include fade-bg-gradient(0deg);

		&::before {
			z-index: 2;
		}

		img {
			object-position: center;
			object-fit: cover;
			pointer-events: none;
		}

		.title {
			position: relative;
			z-index: 3;
			text-align: center;
			margin: 1rem;
			font-size: 1.7rem;
			width: 100%;
			font-weight: 600;
			color: rgb(255 255 255 / 1);
			@extend %tShadow;
		}
	}

	> button {
		z-index: 3;
		display: block;
		left: -0.75rem;
		top: -0.25rem;
		right: auto;
	}
}

@include media1024 {
	.itemWrapper {
		height: 16rem;
		width: 30%;

		.item {
			.title {
				margin: 0.5rem;
				font-size: 1.3rem;
			}
		}
	}
}
