.list {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;

  > .name {
    margin-right: 0.7rem;
    font-size: 1.3rem;
    color: rgb(255 255 255 / 0.6);
  }

  > .links {
    color: rgb(255 255 255 /  0.9);
    > a {
      font-size: 1.3rem;
      line-height: 2rem;
      text-underline-offset: 0.4rem;
      color: rgba(255, 255, 255, .9);
      transition: text-decoration-color .3s ease-in-out;
      text-decoration-line: underline;
      text-decoration-color: rgba(255, 255, 255, 0.2);
    &:hover {
      text-decoration-color: #1DB954;
    }
  }
}
}

