.button {
	width: 2rem;
	height: 1.95rem;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	position: absolute;
	right: 3.5rem;
	top: 1.5rem;
	background: transparent;
	border: none;
	cursor: pointer;
	padding: 0;
	z-index: 101;

	&:focus {
		outline: none;
	}

	div {
		width: 2.5rem;
		height: 0.24rem;
		border-radius: 10px;
		transition: all 0.3s linear;
		position: relative;
		transform-origin: 0.2rem;
		background: #1db954;
	}
}
