@import '../../../../styles/mixins';
.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 2.5rem 0;

	> button {
		background-color: rgb(29 185 84 / 1);
		font-size: 1.6rem;
	}
}

@include media500 {
	.header {
		> button {
			background-color: rgb(29 185 84 / 1);
			font-size: 1.2rem;
		}
	}
}
