.title {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #e30b13;
  padding: 10px;
  font-size: 1.2rem;
}

.item {
  color: #ffffff;
  background-color: #191414;
  margin-bottom: 20px;

}

.ExpandIcon {
  color: #e30b13;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 2px;
}

.AccordionContent {
  padding: 10px;

  a {
    display: flex;
    align-items: center;
    font-size: 1.2rem;

    &:hover {
      color: #e30b13;

    }

    span {
      margin-left: 5px;
    }
  }


}