$bar-width: 20%;

.layout {
  position: relative;

  > div:nth-child(2) {
    display: none;
  }

  > div:first-child,
  > div:last-child {
    position: fixed;
    top: 0;
    bottom: 0;
    overflow: hidden;

    &:hover {
      overflow-y: auto;

      &::-webkit-scrollbar {
        width: 3px;
      }
    }

    width: $bar-width;
    max-width: 350px;
  }

  > div:first-child {
    @apply border-r-gray-800;
    border-right-width: 1px;
    left: 0;
  }

  > .center {
    min-height: 100vh;
    padding: 2.75rem;
    margin: 0 $bar-width;
  }

  > div:last-child {
    right: 0;
    border-left-width: 1px;
    @apply border-l-gray-800;
  }

  @media (max-width: 570px) {


    > .center {
      margin: 0;
      padding: 20px;
    }

    > div:nth-child(2) {
      display: block;
    }

    > div:first-child,
    > div:last-child {
      display: none;
    }
  }
}

