.selectContainer {
  @apply animate-fade;
  position: relative;
  margin-bottom: 5rem;
  font-size: 1.3rem;
  > label {
    display: block;
    > span {
      display: block;
      margin-bottom: 0.25rem;
      line-height: 1rem;
      text-transform: uppercase;
      color: rgb(102 103 110 / 1);
    }
  }
}
