@import '../../../../styles/mixins';
@import '../../../../styles/class';

.gallery {
	display: flex;
	align-items: center;
	padding-top: 1.3rem;
}

.item {
	@extend %shadowItem;
	position: relative;
	display: flex;
	align-items: flex-end;
	border-radius: 0.8rem;
	flex: 0 0 auto;

	@extend %tTransform;

	&:hover {
		transform: translateY(-5px);
	}

	&.vertical {
		margin-right: 1rem;
		width: 16%;
		height: 22rem;
		&:last-child {
			margin-right: 0;
		}
	}

	&.horizontal {
		height: 16rem;
		width: 32%;
		margin-bottom: 2rem;
	}

	&.withText {
		@include fade-bg-gradient(0deg);

		&::before {
			border-radius: 0.8rem;
		}
	}

	img {
		max-width: 100%;
		max-height: 100%;
		border-radius: 0.8rem;
	}

	.content {
		position: relative;
		z-index: 2;
		text-align: center;
		margin: 0.75rem;
		width: 100%;
		.title {
			font-size: 1.6rem;
			font-weight: 600;
			margin-bottom: 0.25rem;
			color: rgb(255 255 255 / 1);
			@extend %tShadow;
		}

		.subTitle {
			font-size: 1.4rem;
			color: rgb(153 154 165 / 1);
			@extend %tShadow;
		}
	}
}

@include media1024 {
	.item {
		&.horizontal {
			height: 10rem;
			width: 49%;
			margin-bottom: 2rem;
		}
		.content {
			margin: 0.75rem;
			width: 100%;
			.title {
				font-size: 1.2rem;
			}

			.subTitle {
				//зирнути потім
				font-size: 1.4rem;
			}
		}
	}
}
