@import "../../../../styles/variables";


.gallery {
  @apply flex items-center py-5;
}

.item {
  @apply relative transition-transform flex items-end shadow-lg rounded-layout;
  flex: 0 0 auto;

  &:hover {
    transform: translateY(-5px);
  }

  &.vertical {
    @apply mr-4 last:mr-0 w-1/5 h-80;
    max-width: 200px;
  }

  &.horizontal {
    @apply mb-8 h-44;
    width: 31%;
  }

  &.withText {
    @include fade-bg-gradient(0deg);

    &::before {
      @apply rounded-layout;
    }
  }

  img {
    @apply rounded-layout;
    max-width: 100%;
    max-height: 100%;
  }

  .content {
    @apply relative z-2 text-center m-3 w-full;

    .title {
      @apply font-semibold mb-1 text-white text-shadow;
    }

    .subTitle {
      @apply text-gray-500 text-shadow;
    }
  }
}

@media (max-width: 570px) {

  .gallery {
    @apply py-3;
    overflow: hidden;
  }
  .item {
    @apply rounded-layout;
    flex: 0 0 auto;


    &.vertical {
      @apply mr-4 last:mr-0 h-60;
      width: 30%;
    }

    &.horizontal {
      margin-bottom: 1.5rem;
      height: 7rem;
      width: 47%;
    }

    &.withText {
      @include fade-bg-gradient(0deg);

      &::before {
        @apply rounded-layout;
      }
    }

    img {
      @apply rounded-layout;
      max-width: 100%;
      max-height: 100%;
    }

    .content {
      @apply m-2 ;

      .title {
        font-size: 0.9rem;
      }

      .subTitle {
        font-size: 0.9rem;
      }
    }
  }
}