.menu {
  @apply animate-fade;
  margin-bottom: 3.5rem;

  .heading {
    @apply text-gray-500;
    text-transform: uppercase;
    font-size: 1.6rem;
    line-height: 1.25rem;
    font-weight: 600;
    padding-left: 2.5rem;
    padding-bottom: 0.5rem;
  }

  .ul {
    > li {
      @apply transition-colors;
      padding-left: 2rem;
      padding-right: 2rem;
      border-right-width: 0.4rem;
      border-right-color: transparent;

      > a {
        @apply text-gray-600 ;
        display: flex;
        align-items: center;
        padding-left: 1rem;
        padding-right: 1rem;
        margin-top: 2.5rem;
        cursor: pointer;

        &:hover{
          span{
            color: white;
          }
          svg{
            color: #1DB954;
          }
        }


        > span {
          margin-left: 1rem;
          font-size: 1.8rem;
          line-height: 2rem;
        }

        > svg {
          font-size: 2.3rem;
        }

        > span,
        > svg {
          @apply transition-colors;
        }
      }

      &.active {
        border-right-color: #1DB954;;
        > a > span {
          color: white;
        }

        > a > svg {
          fill:#1DB954 ;
        }
      }
    }
  }
}
