@import '../../../../styles/animations';
@import '../../../../styles/mixins';

.item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: rgb(57 57 63 / 1);
	margin-top: 1.2rem;
	padding: 0 1.25rem;
	border-radius: 1rem;
	@extend %tColor;
	> div {
		color: white;
		width: 24%;
		font-size: 1.6rem;
		padding: 1.2rem 0;

		&:last-child {
			text-align: right;
			justify-content: flex-end;
		}
	}
}

.itemHeader {
	box-shadow: 3px 0 14px 1px rgba(9, 69, 5, 1);
	background-color: rgb(29 185 84 / 0.2);
	margin-top: 2rem;

	> div {
		font-weight: 600;
		font-size: 1.6rem;
		padding: 1.2rem 0;
	}
}

.notFound {
	font-size: 1.7rem;
	line-height: 1.75rem;
	color: white;
	text-align: center;
	padding: 1.5rem 0;
}

.loader {
	margin-top: 2rem;
	border: 1rem;
}

@include media1024 {
	.item {
		margin-top: 1.2rem;
		padding: 0 0.7rem;
		> div {
			font-size: 1rem;
			padding: 0.7rem 0;
		}
	}

	.itemHeader {
		background-color: rgb(29 185 84 / 0.2);
		> div {
			font-size: 1.2rem;
			padding: 0.7rem 0;
		}
	}

	.notFound {
		font-size: 1.2rem;
		line-height: 1rem;
		padding: 0.7rem 0;
	}

	.loader {
		margin-top: 2rem;
		border: 1rem;
	}
}

@include media500 {
	.item {
		margin-top: 1.2rem;
		padding: 0 0.7rem;
		> div {
			font-size: 0.9rem;
			padding: 0.7rem 0;
		}
	}

	.itemHeader {
		background-color: rgb(29 185 84 / 0.2);
		> div {
			font-size: 1.2rem;
			padding: 0.7rem 0;
		}
	}
	a .notFound {
		font-size: 1.2rem;
		line-height: 1rem;
		padding: 0.7rem 0;
	}

	.loader {
		margin-top: 2rem;
		border: 1rem;
	}
}
