@import '../../../../../../styles/class';
@import '../../../../../../styles/mixins';

.wrapper {
	width: 60%;
	margin: 2.5rem auto;
	border-radius: 0.8rem;
	background-color: #101215;
	color: #fff;
	padding: 3rem;
	text-align: center;
	@extend %boxShadow;

	> h3 {
		font-size: 1.8rem;
		line-height: 2rem;
		font-weight: 600;
	}

	> p {
		margin-top: 1rem;
		margin-bottom: 0.75rem;
		font-size: 1.3rem;
		line-height: 1.75rem;
		opacity: 0.6;
	}

	> div {
		font-size: 4rem;
		line-height: 2.5rem;
		opacity: 0.9;
	}

	> .thanks {
		@extend %animateScaleIn;
		color: rgb(245 197 33 / 1);
		font-size: 1.7rem;
		line-height: 2.25rem;
		font-weight: 600;
	}

	.btn {
		width: 14rem;
	}
}

@include media1024 {
	.wrapper {
		width: 85%;
	}
}
