@import '../../../../../styles/animations';
@import '../../../../../styles/mixins';

.adminForm {
	margin-top: 3rem;
}

.loader {
	height: 7rem;
	margin-top: 2rem;
}

.textLink {
	display: block;
	margin-bottom: 1.75rem;
	text-underline-offset: 4px;
	color: rgba(255, 255, 255, 0.9);
	text-decoration-line: underline;
	text-decoration-color: rgba(255, 255, 255, 0.2);
	font-size: 2rem;
	background-color: transparent;
	@extend %tColor;
	&:hover {
		text-decoration-color: #1db920;
	}
}

@include media500 {
	.textLink {
		font-size: 1.5rem;
	}
}
