@import '../../../../../styles/mixins';

.wrapper {
	margin: 5rem 0;

	img {
		margin-left: 6rem;
	}
	.container {
		display: flex;
		justify-content: space-between;
	}
}

@include media1024 {
	.wrapper {
		.container {
			> div {
				width: 32%;
			}
		}
	}
}

@include media500 {
	.wrapper {
		.container {
			display: block;
			> div {
				width: 100%;
			}
		}
	}
}
