

.common {
  @apply focus-within:border-primary;
  position: relative;
  border-bottom-width: 1px;
  border-color: rgb(102 103 110 / 1);
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: ease-in-out;
  transition-duration: 200ms;
  > label {
    display: block;

    > span {
      display: block;
      font-size: 1.7rem;
      margin-bottom: 2rem;
      line-height: 1rem;
      text-transform: uppercase;
      color: rgb(102 103 110 / 1);
    }
  }
}

.field {
  text-align: left;
  margin-bottom: 4rem;

  input {
    @apply  focus:ring-0;
    outline: none;
    border: none;
    background-color: transparent;
    color: rgb(153 154 165 / 1);
    width: 100%;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    font-size: 2rem;
  }
}


.error {
  position: absolute;
  bottom: -2.5rem;
  left: 0;
  line-height: 1.25rem;
  width: 100%;
  color: #8f050b;
  font-size: 2rem;
}


