.search {
  @apply transition-colors;
  display: flex;
  height: 5rem;
  width: 29rem;
  align-items: center;
  border-radius: 2.3rem;
  border-width: 0.2rem;
  border-color: rgb(57 57 63 / 1);
  padding: 0.5rem 0.75rem 0.5rem 0.75rem;
  > svg {
    @apply transition-colors;
    fill: #66676E;
    margin-right: 0.5rem;
    font-size: 3rem;
    line-height: 2.25rem;
  }

  > input {
    display: block;
    width: 100%;
    background: transparent;
    outline: 0.2rem solid transparent;
    outline-offset: 2px;
    color: rgb(255 255 255 / 1);
    font-size: 1.8rem;
    &::placeholder{
      --tw-text-opacity: 1;
      color: rgb(102 103 110 / 1);
      font-size: 1.8rem;
    }
  }

  &:focus-within {
    border-color: rgb(102 103 110 / 1);
    > svg {
      fill: #999AA5;
    }
  }
}