.list {
  @apply animate-fade ;
  width: 29rem;
  position: absolute;
  border-width: 0.2rem;
  border-radius: 1rem;
  border-color: rgb(57 57 63 / 1);
  background-color: rgb(36 37 41 / 1);
  top: calc(100% + 15px);
  z-index: 10;

  .notFound{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6rem;
    font-size: 2rem;
    color: white;
    margin: 1rem 0;
  }

  > a {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0.75rem 1rem;

    &::after {
      position: absolute;
      right: -0.12rem;
      height: 0;
      width: 0.20rem;
      background-color: transparent;
      content: '';
      top: 30%;
      transition: height 0.3s ease-in-out, background-color 0.3s ease-in-out;
    }

    &:hover::after {
      @apply bg-primary ;
      height: 50%;

    }
    &:hover{
      span{
        @apply animate-fade;
        color: #1DB954;
      }
    }

    img {
      border-radius: 0.5rem;
    }

    > span {
      @apply animate-fade;
      margin-left: 1rem;
      color: white;
      font-size: 2rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      &:last-child {
        width: 70%;
      }
    }
  }
}
