@import "../../../../styles/variables";
.head{
	font-size: $fzHead;
	line-height: $lineHeNormal;
	color: $cWhite;
	font-weight: $fWeight6;
}

.descriptionH{
	font-size: $fZDescription;
	line-height: $lineHeNormal;
	font-weight: $fWeight3;
	color: $cDescription;
	margin: 2.5rem 0;
}

.subHead{
	color: $cWhite;
	font-size: $fZSub;
	line-height: $lineHeNormal;
	font-weight: $fWeight6;
	margin: 1.5rem 0;
}