@import '../../../../styles/variables';
@import '../../../../styles/mixins';

.head {
	font-size: $fzHead;
	line-height: $lineHeNormal;
	color: $cWhite;
	font-weight: $fWeight6;
}

.descriptionH {
	font-size: $fZDescription;
	line-height: $lineHeNormal;
	font-weight: $fWeight3;
	color: $cDescription;
	margin: 2.5rem 0;
}

.subHead {
	color: $cWhite;
	font-size: $fZSub;
	line-height: $lineHeNormal;
	font-weight: $fWeight6;
	margin: 1.5rem 0;
}

@include media1024 {
	.head {
		font-size: 2rem;
	}
	.descriptionH {
		font-size: 1.4rem;
		margin: 1.5rem 0;
	}
	.subHead {
		font-size: 1.5rem;
		margin: 0.3rem 0;
	}
}

@include media500 {
	.head {
		font-size: 1.5rem;
	}
	.descriptionH {
		font-size: 1.2rem;
		margin: 1rem 0;
	}
	.subHead {
		font-size: 1.3rem;
		margin: 0.2rem 0;
	}
}
