@import '../../../../../styles/mixins';

.Logo {
	position: relative;
	display: block;
	margin-bottom: 2.5rem;
	height: 4rem;
	width: 25rem;
	margin-top: 2rem;
	margin-left: 2rem;
}

@include media1024 {
	.Logo {
		height: 2rem;
		width: 14rem;
		margin-top: 1rem;
		margin-bottom: 1rem;
		margin-left: 0.5rem;
	}
}

@include media767 {
	.Logo {
		height: 3rem;
		width: 16rem;
		margin: 0;
	}
}
