@import "../../../../styles/variables";

.banner {
  @apply shadow-lg ;
  position: relative;
  overflow: hidden;
  height: 24rem;
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  @include fade-bg-gradient();
}

@media (max-width: 570px) {
  .banner {
    @apply h-48
  }
}