@import '../../../../styles/mixins';
@import '../../../../styles/class';

.banner {
	@extend %boxShadow;
	position: relative;
	overflow: hidden;
	height: 24rem;
	border-radius: 0.8rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	@include fade-bg-gradient();
	img {
		object-fit: cover;
		pointer-events: none;
		object-position: top;
	}
}

@include media1024 {
	.banner {
		height: 20rem;
	}
}
