.heading {
  font-size: 2.5rem;
  margin-bottom: 2.5rem;
}

.info{
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.containerGallery {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

@media (max-width: 570px) {


  .heading {
    @apply mb-4;
    font-size: 1.1rem;
  }

  .subHeading {
    @apply text-base mb-2;
  }
}