@import '../../../../../styles/mixins';
@import '../../../../../styles/class';

.placeholder {
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.7;
	background-color: rgb(36 37 41 / 0.5);
	flex-direction: column;

	> div {
		text-align: center;
		margin: auto;
		color: rgb(255 255 255 /1);
		font-size: 2rem;
	}
	a {
		bottom: 14rem;
		position: absolute;
		left: 40%;
		font-size: 1.8rem;
		width: 20rem;
		@extend %btnStandard;
	}
}

@include media1024 {
	.placeholder {
		> div {
			font-size: 1.5rem;
		}
		a {
			bottom: 18rem;
			position: absolute;
			left: 35%;
			width: 13rem;
			font-size: 1.5rem;
			@extend %btnStandard;
		}
	}
}
