@import 'mixins';
html {
	font-size: calc(100vw / 1920 * 10);
	@include media1024 {
		font-size: calc(100vw / 768 * 10);
	}
	@include media767 {
		font-size: calc(100vw / 500 * 10);
	}
	@include media500 {
		font-size: calc(100vw / 375 * 10);
	}
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Outfit', sans-serif;
	background-color: rgb(25 27 31 / 1);
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

::-webkit-scrollbar {
	width: 0;
}

::-webkit-scrollbar-track {
	background-color: rgb(25 27 31 / 1);
}

::-webkit-scrollbar-thumb {
	background: #1db954;
}

:root {
	--primary-color: #1db954;
}

input[type='file'],
input[type='file']::-webkit-file-upload-button {
	cursor: pointer;
	&:focus {
		outline: 2px solid transparent;
		outline-offset: 2px;
	}
}

input:focus {
	box-shadow: none !important;
}

ul[class],
ol[class] {
	padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
}

body {
	min-height: 100vh;
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
}

ul[class],
ol[class] {
	list-style: none;
}

a:not([class]) {
	text-decoration-skip-ink: auto;
}

img {
	max-width: 100%;
	display: block;
}

article > * + * {
	margin-top: 1em;
}

input,
button,
textarea,
select {
	font: inherit;
	outline: none;
	border: none;
}
button {
	cursor: pointer;
}
@media (prefers-reduced-motion: reduce) {
	* {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

.redux-toastr {
	.rrt-text {
		font-size: 1.5rem;
	}
}

.redux-toastr {
	.toastr {
		.rrt-middle-container {
			.rrt-title {
				font-size: 2rem;
			}
		}
	}
}

@include media1024 {
	.redux-toastr {
		.rrt-text {
			font-size: 1.2rem;
		}
	}

	.redux-toastr {
		.toastr {
			.rrt-middle-container {
				.rrt-title {
					font-size: 1.5rem;
				}
			}
		}
	}
}

@include media767 {
	.redux-toastr {
		.rrt-text {
			font-size: 1rem;
		}
	}

	.redux-toastr {
		.toastr {
			.rrt-middle-container {
				.rrt-title {
					font-size: 1.3rem;
				}
			}
		}
	}
}
