@import '../../../../styles/animations';
@import '../../../../styles/class';
.wrapper {
	margin-top: 20rem;
	.heading {
		margin-bottom: 2rem;
		font-size: 3rem;
	}
	> form {
		text-align: center;
		padding: 1.75rem;
		border-radius: 0.8rem;
		background-color: #101215;
		color: #fff;
		@extend %boxShadow;
		width: 50%;
		margin-left: auto;
		margin-right: auto;
		.button {
			@extend %boxShadow;
			margin-top: 2rem;
			> button {
				font-size: 1.5rem;
				height: 4rem;
				width: 15rem;
				padding: 0;
				&:first-child {
					border-top-right-radius: 0;
					border-bottom-right-radius: 0;
				}

				&:last-child {
					opacity: 0.8;
					border-radius: 0 1.2rem 1.2rem 0;
					background-color: #00630d;
					@extend %tOpacity;
					&:hover {
						opacity: 1;
					}
				}
			}
		}
	}
}

@media (max-width: 570px) {
	.wrapper {
		margin-top: 3.5rem;
		> form {
			width: 90%;
		}
	}
}
