@import '../../../../../styles/animations';
.badge {
	text-transform: uppercase;
	position: absolute;
	top: 1.5rem;
	right: 0.75rem;
	cursor: pointer;
	border-radius: 0.5rem;
	border-color: rgb(153 154 165 / 1);
	background-color: rgb(153 154 165 / 1);
	font-size: 1rem;
	line-height: 1rem;
	color: rgb(36 37 41 / 1);
	@extend %tColor;
	padding: 0.4rem;
	&:hover {
		background-color: rgb(217 218 232 / 1);
	}
}
