@import '../../../../../styles/animations';
.actions {
	display: flex;
	align-items: center;

	> button {
		outline: none;
		border: none;
		background-color: transparent;
		font-size: 2.3rem;
		line-height: 1.75rem;
		color: rgb(29 185 84 / 1);
		@extend %tOpacity;
		&:hover {
			opacity: 1;
		}

		&:first-child {
			margin-right: 1.5rem;
		}
	}
}
